<!--home.handlebars-->
<head>
    <script src="joke.js"></script>
    <script
        src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"
    ></script>
    <script>
        $(document).ready(function () { $(function () {
        $("#navigation").load("navbar.html"); }); });
    </script>
    <link rel="stylesheet" href="/css/home.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
        href="https://fonts.googleapis.com/css2?family=Azeret+Mono&display=swap"
        rel="stylesheet"
    />
</head>
<body>
    <div style="padding-top: 2px;" id="navigation"></div>
    <h1>About Us</h1>
    <p>
        We are a company that does things. We do everything under the same roof,
        this means all of our staff members are trained to high standards, from
        our production team who are responsible for packing and
        quality-checking, to our friendly customer support team who are there to
        answer any questions you may have. They're all an integral part of
        thefamily! Of course, we're not perfect and we know we're never going to
        be. It's really important that we understand this because when we're
        aware that we've not got everything right we can look for ways to
        improve. We want to get better. Constantly.
    </p>
    <h2>History</h2>
    <div
        style="display: flex; flex-direction:column; align-content:start; align-items: center;"
    >
        <div style="width:80%; align-items:start;">
            <li>yo</li>
        </div>
    </div>

    <h2>Locations</h2>
    <div
        style="display: flex; flex-direction:column; align-content:start; align-items: center;"
    >
        <div style="width:80%; align-items:start;">
            <br />
            <br />
        </div>
    </div>
</body>
