<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            $(function () {
                $("#navigation").load("navbar.html");
            });
        });
    </script>
    <link rel="stylesheet" href="/css/home.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
        href="https://fonts.googleapis.com/css2?family=Azeret+Mono&display=swap"
        rel="stylesheet"
    />
</head>
<body>
    <form id="submit_company" action="/companies" method="POST">
        <label for="name">Name</label>
        <input name="name" id="name" required />
        <label for="logoUrl">Logo URL</label>
        <input name="logoUrl" id="submit" />
        <button type="submit">Submit</button>
    </form>
</body>
