<head>
    <script
        src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"
    ></script>
    <script>
        $(document).ready(function () { $(function () {
            $("#navigation").load("navbar.html"); 
            $("#company_form").load("company_form.html"); }); 
        });
    </script>
    <link rel="stylesheet" href="/css/home.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
        href="https://fonts.googleapis.com/css2?family=Azeret+Mono&display=swap"
        rel="stylesheet"
    />
</head>
<body>
    <div style="padding-top: 2px;" id="navigation"></div>
    <h1>Submit a new copmany</h1>
    <p style="color: red; background-color: white;">
        {{this.error}}
    </p>
    <div id="company_form"></div>
</body>
