<head>
    <link rel="stylesheet" href="/css/home.css" />
    <link rel="stylesheet" href="/css/form.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
        href="https://fonts.googleapis.com/css2?family=Azeret+Mono&display=swap"
        rel="stylesheet"
    />
</head>
<body>
    <form id="submit_menu" action="/menus" method="POST">
        <label for="company_id">Company ID</label>
        <input name="company_id" id="company_id" required />
        <label for="title">Title</label>
        <input name="title" id="title" required />
        <button class="form-button" type="submit">Submit</button>
    </form>
</body>
